:root.theme-dark {
  --default-backgound-image: url(../images/cover-image-dark.png);
  --background-color: #000028;
  --text-color: #f1b2ce;
  --header-text-color: var(--background-color);
  --accent-color: #ff0070;
  --hover-color-alpha: #ff007066;
  --hero-color: #db00ff;
  --section-title-color: var(--accent-color);
}
