:root.theme-light {
  --default-backgound-image: url(../images/cover-image-light.png);
  --background-color: #fff1f7;
  --text-color: #353430;
  --header-text-color: var(--text-color);
  --accent-color: #ff8dcb;
  --hover-color-alpha: #35343066;
  --hero-color: #ffc2e6;
  --section-title-color: var(--text-color);
}

.theme-light .page .header__record {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --default-backgound-image: url(../images/cover-image-light.png);
    --background-color: #fff1f7;
    --text-color: #353430;
    --header-text-color: var(--text-color);
    --accent-color: #ff8dcb;
    --hover-color-alpha: #35343066;
    --hero-color: #ffc2e6;
    --section-title-color: var(--text-color);
  }

  .theme-auto .header__record {
    display: none;
  }
}
